{% extends "base.html" %}
{% block title %}JadeOnline - ChangePassword{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>更改密码</h1>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form method="post" role="form" class="form-Horizontal">
            <div class="form-group">
                {{ form.hidden_tag() }}

                {{ form.old_password.label }} {{ form.old_password(class='form-control') }}
                {% for message in form.old_password.errors %}
                    {{ tools.renderError(message)}}
                {% endfor %}

                {{ form.new_password.label }} {{ form.new_password(class='form-control') }}
                {% for message in form.new_password.errors %}
                    {{ tools.renderError(message)}}
                {% endfor %}

                {{ form.password_confirm.label }} {{ form.password_confirm(class='form-control') }}
                {% for message in form.password_confirm.errors %}
                    {{ tools.renderError(message)}}
                {% endfor %}

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-4">
                        <div style="margin:10px;">
                        {{ form.submit(class='btn btn-success') }}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}